<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:replace="~{fragments/loginHeader :: loginHeader}" />
<script th:replace="~{fragments/chattingJSScript :: chattingJSScript}" />
<script type="text/javascript">
    window.onload=function(){
        let mySpace = document.getElementById("messageBox");
        mySpace.scrollTop = mySpace.scrollHeight;
    };
</script>
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/loginBodyHeader :: loginBodyHeader}"/>

<div class="container chatContainer">
    <div class="row">
        <section class="chat">
            <div class="header-chat row border m-0 h-auto p-3">
<!--                <div class="col">-->
<!--                    <div class="row">-->
<!--                        <div class="col-2 text-center" th:text="상대방" />-->
<!--                        <div class="col-2">-->
<!--                            <img class="img-thumbnail p-0"  th:if="${room.member.profileImage}" th:src="|/images/${room.member.profileImage.getStoreFileName()}|" style="width: 60px; height: 60px;">-->
<!--                            <img class="img-thumbnail p-0" th:if="!${room.member.profileImage}" th:src="@{/img/default.png}" style="width: 60px; height: 60px;">-->
<!--                        </div>-->
<!--                        <p class="col name px-3" th:text="${room.member.nickName}">상대 이름</p>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col">
                    <div class="row">
<!--                        <div class="col-2 text-center" th:text="물품" />-->
                        <div class="col-1">
                            <img th:if="${room.post.item} != null and ${room.post.item.images} != null and !${room.post.item.images.isEmpty()}" class="img-fluid img-thumbnail" th:src="|/images/${room.post.item.images.get(0).getStoreFileName()}|" style="width: 60px; height: 60px">
                            <img th:unless="${room.post.item} != null and ${room.post.item.images} != null and !${room.post.item.images.isEmpty()}" class="img-fluid img-thumbnail" th:src="@{/img/default.png}" style="width: 60px; height: 60px">
                        </div>
                        <h4 class="col px-3 d-flex align-items-center" th:text="${room.post.title}">post title</h4>
                    </div>
                </div>
            </div>
            <div class="messages-chat" id="messageBox">
<!--                <p class="response-time time"> 15h04</p>-->
<!--                <div class="message">-->
<!--                    <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">-->
<!--                        <div class="online"></div>-->
<!--                    </div>-->
<!--                    <p class="text"> 9 pm at the bar if possible 😳</p>-->
<!--                </div>-->
<!--                <p class="time"> 15h09</p>-->

                <div id="history" th:each="chat: ${room.chattings}">
                    <th:block>
                        <div class="message text-only">
                            <div class="align-items-center" th:if="${chat.member.id} != ${member.id}">
<!--                                <img class="col img-thumbnail p-0"  th:if="${chat.member.profileImage}" th:src="|/images/${chat.member.profileImage.getStoreFileName()}|" style="width: 60px; height: 60px;">-->
<!--                                <img class="col img-thumbnail p-0" th:if="!${chat.member.profileImage}" th:src="@{/img/default.png}" style="width: 60px; height: 60px;">-->
<!--                                <img th:if="${post.item} != null and ${post.item.images} != null and !${post.item.images.isEmpty()}" class="bd-placeholder-img card-img-top" width="100%" height="225" th:src="|/images/${post.item.images.get(0).getStoreFileName()}|">-->

                                <p class="text" th:text="${chat.content}">message</p>
<!--                                <p class="time" th:text="${chat.createdTime}"> 15h09</p>-->
                            </div>
                            <div class="response" th:if="${chat.member.id} == ${member.id}">
                                <p class="text" th:text="${chat.content}">message</p>
<!--                                <p class="time" th:text="${chat.createdTime}"> 15h09</p>-->
                            </div>
                        </div>
                    </th:block>
                </div>

                <div id="messages"></div>
            </div>
            <div class="footer-chat w-100">
                <input id="message" class="write-message w-75 form-control" type="text" placeholder="보낼 메세지를 입력하세요." >
                <div class="px-3 w-25">
                    <button id="sendButton" class="btn btn-dark w-100"  style="height: 50px" type="button" value="전송" onclick="sendMsg()">전송</button>
                </div>
            </div>



        </section>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>