<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:replace="~{fragments/header :: header}" />
<body class="d-flex flex-column h-100">

<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

<main>
    <div class="container w-50">
        <div class="py-5 text-center">
            <section class="pt-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">채팅 목록</h1>
                    </div>
                </div>
            </section>

            <div id="rooms" th:each="room: ${rooms}">
                <div class="w-100">
                    <button class="btn btn-outline-dark w-100"
                            th:text="|${room.post.title} / 상대 : ${room.partnerId} / ${room.updatedTime}|"
                            th:onclick="|location.href='@{/chat/room/{name}(name=${room.storeRoomName})}'|"/>
                </div>
            </div>

        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>