<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/loginHeader :: loginHeader}" />
<body>

<div th:replace="~{fragments/loginBodyHeader :: loginBodyHeader}"/>

<main>
    <div class="container w-50">
        <div class="py-5 text-center">
            <section class="pt-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="">프로필</h1>
                    </div>
                </div>
            </section>

            <section id="profile" class="py-1">
                <div class="card border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row gx-0">
                            <div class="py-lg-2">
                                <div class="p-3 p-md-5">
                                    <div class="row py-3">
                                        <div class="col">
                                            <img id="profileImage" th:if="${member.profileImage}" th:src="|/images/${member.profileImage.getUploadFileName()}|" class="img-fluid img-thumbnail" style="width: 150px; height: 150px"/>
                                            <img id="defaultProfileImage" th:if="!${member.profileImage}" th:src="@{/img/default.png}" class="img-fluid img-thumbnail" style="width: 150px; height: 150px"/>
                                        </div>
                                        <span class="h4 col d-flex align-items-center" th:text="${member.nickName}">Article content</span>
                                    </div>

                                    <div class="py-3">
                                        <button class="w-50 btn btn-primary btn-lg"
                                                th:if="${isLoginMember}"
                                                onclick="location.href='editForm.html'"
                                                th:onclick="|location.href='@{/profiles/edit-form/{nickName}?redirectURL={url}(nickName=${member.nickName}, url=${redirectURL})}'|"
                                                type="button" th:text="'프로필 수정'">프로필 수정
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>