<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:fragment="chattingJSScript" th:inline="javascript">

    function enterRoom(socket){
        var enterMsg={"type" : "ENTER","roomId":[[${room.id}]],"memberId":[[${member.id}]],"content":""};
        socket.send(JSON.stringify(enterMsg));
    }
    let socket = new WebSocket("ws://" + [[${url}]] + "/ws");

    socket.onopen = function (e) {
        console.log('open server!')
        enterRoom(socket);
    };
    socket.onclose=function(e){
        console.log('disconnet');
    }

    socket.onerror = function (e){
        console.log(e);
    }

    //메세지 수신했을 때 이벤트.
    socket.onmessage = function (e) {
        console.log(e.data);

        const obj = JSON.parse(e.data);
        if (obj.type === "ENTER" || obj.type === "QUIT") {
            return;
        }

        // <img class="col img-thumbnail p-0"  th:if="${chat.member.profileImage}" th:src="|/images/${chat.member.profileImage.getStoreFileName()}|" style="width: 60px; height: 60px;">
        //     <img class="col img-thumbnail p-0" th:if="!${chat.member.profileImage}" th:src="@{/img/default.png}" style="width: 60px; height: 60px;">

        let messageBox = document.querySelector('#messageBox');
        let messages = document.querySelector('#messages');


        let container1 = document.createElement('div');
        let container2 = document.createElement('div');
        let newMsg = document.createElement('div');

        container1.classList.add('message', 'text-only');

        if (obj.memberId === [[${member.id}]]) {
            container2.classList.add('response');
        }
        // else {
        //     container2.classList.add('row', 'align-items-center');
        //     newMsg.classList.add('col', 'm-2');
        //
        //     let img = document.createElement('img');
        //     img.classList.add('col', 'img-thumbnail','p-0');
        //     img.style = "width: 60px; height: 60px;";
        //     // if (){
        //     //     img.src = "/images/" + ;
        //     // } else {
        //         img.src = "/img/default.png";
        //     // }
        //     container2.append(img);
        // }

        newMsg.classList.add('text');
        newMsg.innerText=obj.content;

        container2.append(newMsg);
        container1.append(container2);
        messages.append(container1);
        messageBox.scrollTop = messageBox.scrollHeight;
    }


    //메세지 보내기 버튼 눌렀을 떄..
    function sendMsg() {
        let content=document.querySelector('#message').value;
        var talkMsg={"type" : "TALK","roomId":[[${room.id}]] ,"memberId":[[${member.id}]],"content":content};
        socket.send(JSON.stringify(talkMsg));
    }

    function quit(){
        var quitMsg={"type" : "QUIT","roomId":[[${room.id}]] ,"memberId":[[${member.id}]],"content":""};
        socket.send(JSON.stringify(quitMsg));
        socket.close();
        location.href="/";
    }

</script>