<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="loginHeader">
    <meta charset="utf-8">
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
<!--    <script>-->
<!--        const eventSource = new EventSource(-->
<!--            `/notifications/subscribe/[[${member.id}]]`-->
<!--        );-->

<!--        eventSource.addEventListener("sseChatting", function (e) {-->
<!--            alert(e.data);-->
<!--        })-->

<!--    </script>-->
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}"
          href="css/customStyle.css" rel="stylesheet">

</head>