<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="unLoginBodyHeader">

    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" aria-label="Second navbar example">
        <div class="container">
            <img th:src="@{/img/logo.png}" style="width: 50px"/>
            <a class="navbar-brand navbar-brand-padding" href="/">나를 찾아줘</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item nav-item-padding">
                        <a class="nav-link active" aria-current="page" th:href="@{/posts/found}">주인 찾아요</a>
                    </li>
                    <li class="nav-item nav-item-padding">
                        <a class="nav-link active" aria-current="page" th:href="@{/posts/lost}">물건 찾아요</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>