<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/loginHeader :: loginHeader}" />
<body>

<div th:replace="~{fragments/loginHomeBodyHeader :: loginHomeBodyHeader}"/>

<div class="container" style="max-width: 900px; height: 450px; padding: 40px; padding-top: 50px; text-align: center; ">
    <div class="row">
        <div class="col" style="padding: 20px; margin-right: 10px;">
            <div class="w-300 rounded-3 fw-bold"
                 style="background-color: rgb(200, 1, 80); height: 300px; font-size: 25px; display : flex; align-items : center; justify-content : center;"
                 th:onclick="|location.href='@{/posts-lost}'|">
                LOST
            </div>
        </div>
        <div class="col" style="padding: 20px; margin-left: 10px;">
            <div class="w-300 rounded-3 fw-bold"
                 style="background-color: rgb(255, 179, 0); height: 300px; font-size: 25px; display : flex; align-items : center; justify-content : center;"
                 th:onclick="|location.href='@{/posts-found}'|">
                FOUND
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>