<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #FFFFFF">
    <a class="navbar-brand fw-bold" href="#" style="padding: 10px; padding-left: 20px;">
        LAF
    </a>
    <h5 class="mb-3" style="padding: 10px;" th:text="|안녕하세요! ${user.loginId}님|">로그인 사용자 이름</h5>
</nav>

<div class="container" style="max-width: 900px; height: 450px; padding: 40px; padding-top: 50px; text-align: center; ">
    <div class="row">
        <div class="col" style="padding: 20px; margin-right: 10px;">
            <div class="w-300 rounded-3 fw-bold"
                 style="background-color: rgb(200, 1, 80); height: 300px; font-size: 25px; display : flex; align-items : center; justify-content : center;"
                 th:onclick="|location.href='@{/posts-lost}'|">
                LOST
            </div>
        </div>
        <div class="col" style="padding: 20px; margin-left: 10px;">
            <div class="w-300 rounded-3 fw-bold"
                 style="background-color: rgb(255, 179, 0); height: 300px; font-size: 25px; display : flex; align-items : center; justify-content : center;"
                 th:onclick="|location.href='@{/posts-found}'|">
                FOUND
            </div>
        </div>
    </div>
</div>
</body>
</html>